* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 20px auto 0px;
    padding: 0 24px;
}

/* profile */
#profile {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;
    transition: transform .3s;
}

#profile div {
    width: 150px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}


#profile img {
    width: 112px;
    border-radius: 50%;
    animation: pulse 6s infinite;
    /* Cria uma animação de pulsação infinita com duração de 6 segundos */
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    }

    25% {
        box-shadow: 0 0 25px rgba(0, 255, 0, 0.9);
    }

    50% {
        box-shadow: 0 0 25px rgba(0, 0, 255, 0.9);
    }

    75% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
    }

    100% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    }
}


#name {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
    text-align: center;
    padding: 10px;
}

/* switch */
#switch {
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* links */
ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* social links */
#social-links {
    display: flex;
    justify-content: center;

    padding: 14px 0;

    font-size: 24px;
    opacity: 0;
    /* Começa com opacidade zero para escondê-los inicialmente */
    animation-fill-mode: forwards;
    /* Mantém o estado final da animação */
    animation: fromBottom 0.7s forwards, fadeIn 0.7s forwards;
    /* Combina as animações */
    animation-delay: 1.5s;
    /* Sem atraso para o primeiro elemento */

}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.2s;
    border-radius: 50%;

}

#social-links a:hover {
    background: var(--highlight-color);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* logos */
.logos {
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
}


.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
}

.logos-slide img {
    height: 40px;
    margin: 0 20px;
}



@keyframes scroll {
    0% {
        transform: translateX(100%);
        /* Começa fora da tela à direita */
    }

    100% {
        transform: translateX(-100%);
        /* Move completamente para a esquerda */
    }
}


footer {
    margin-top: 80px;
    color: white;
    text-align: center;
    padding: 10px;
}

/* animation*/
header div {
    animation: fromTop .7s .2s backwards;
}

body p {
    animation: fromTop .7s backwards;
}

main ul li {
    opacity: 0;
    /* Começa com opacidade zero para escondê-los inicialmente */
    animation-fill-mode: forwards;
    /* Mantém o estado final da animação */
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main ul li:nth-child(1) {
    animation: fromBottom 0.7s forwards, fadeIn 0.7s forwards;
    /* Combina as animações */
    animation-delay: 0.3s;
    /* Sem atraso para o primeiro elemento */
}

main ul li:nth-child(2) {
    animation: fromBottom 0.7s forwards, fadeIn 0.7s forwards;
    /* Combina as animações */
    animation-delay: 0.6s;
    /* Atraso de 0.3s para o segundo elemento */
}

main ul li:nth-child(3) {
    animation: fromBottom 0.7s forwards, fadeIn 0.7s forwards;
    /* Combina as animações */
    animation-delay: 0.9s;
    /* Atraso de 0.6s para o terceiro elemento */
}

main ul li:nth-child(4) {
    animation: fromBottom 0.7s forwards, fadeIn 0.7s forwards;
    /* Combina as animações */
    animation-delay: 1.2s;
    /* Atraso de 0.6s para o terceiro elemento */
}








/* media queries */
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

/* animation */
@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}