* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 20px auto 0px;
    padding: 0 24px;
}

/* profile */
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    border-radius: 50%;
    animation: pulse 6s infinite; /* Cria uma animação de pulsação infinita com duração de 6 segundos */
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    }
    25% {
        box-shadow: 0 0 25px rgba(0, 255, 0, 0.9);
    }
    50% {
        box-shadow: 0 0 25px rgba(0, 0, 255, 0.9);
    }
    75% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    }
}




#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* switch */
#switch {
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* links */
ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* social links */
#social-links {
    display: flex;
    justify-content: center;

    padding: 14px 0;

    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
}


#carousel-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

#carousel {
    display: inline-block;
    animation: scroll 10s linear infinite; /* Aumentei o tempo de animação para 20 segundos */
}

#carousel img {
    margin-right: 20px; /* Espaço entre as imagens */
    width: 40px; /* Defina a largura desejada para as imagens */
    height: auto; /* Mantenha a proporção da altura */
}

@keyframes scroll {
    0% {
        transform: translateX(100%); /* Começa fora da tela à direita */
    }
    100% {
        transform: translateX(-100%); /* Move completamente para a esquerda */
    }
}


footer {
    margin-top: 80px;
    color: white;
    text-align: center;
    padding: 10px;
}





/* media queries */
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

/* animation */
@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}